# model
git+https://github.com/RobustBench/robustbench.git
--find-links https://download.pytorch.org/whl/cu116/torch_stable.html
torch
torchvision

# attacker
foolbox
adversarial-robustness-toolbox

# utils
yaspin
colorlog
pyyaml
ipython
numpy
matplotlib
GitPython
pandas
attrdict
notebook

# formatter
black
black[jupyter]
isort
pyproject-flake8
