git+https://github.com/RobustBench/robustbench.git
--find-links https://download.pytorch.org/whl/cu116/torch_stable.html
torch
foolbox
adversarial-robustness-toolbox
optuna

# utils
tqdm
yaspin
colorlog
pyyaml
ipython
numpy
matplotlib
GitPython
pandas
attrdict
notebook

# formatter
black
black[jupyter]
isort
pyproject-flake8
