# model
git+https://github.com/RobustBench/robustbench.git
--find-links https://download.pytorch.org/whl/cu116/torch_stable.html
torch
torchvision

# utils
tqdm
colorlog
pyyaml
numpy
matplotlib
pandas
attrdict
notebook

# formatter
black
black[jupyter]
isort
pyproject-flake8
